<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Non Existent Team</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
  <div class = "leaderboard"> Sorry, but <%= @no_team%> isn't a valid team!</div>
  <br><br>
  Click <a href = "/leaderboard">here<a> to go back to the leaderboard</a>
  </body>

</html>
